{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
    <div id="app">
        <show-invoice
                :invoice="{{ invoice | serialize('json', {'groups': 'read_invoice'}) }}"
        ></show-invoice>
    </div>
{% endblock %}
