{% extends 'base.html.twig' %}

{% block title %}Détails du Parent{% endblock %}

{% block body %}

    <div id="app">
        <show-parent
                :parent="{{ parentEntity|serialize('json', {'groups': 'read_parent'}) }}"
                :students="{{ students|serialize('json', {'groups': 'read_parent'}) }}">
        </show-parent>
    </div>
{% endblock %}
