{% extends 'base.guest.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <section class="h-100 gradient-form" style="background-color: #eee; min-height: 100vh;">
        <div class="container-fluid py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-6 col-sm-12">
                    <div class="card rounded-3 text-black">
                        <div class="card-body p-md-5 mx-md-4">
                            <div class="text-center">
                                <h4 class="mt-1 mb-5 pb-1">Mot de passe oublié</h4>
                                <p>Entrez votre adresse e-mail pour recevoir un lien de réinitialisation.</p>
                            </div>
                            <form method="post">
                                <div class="form-outline mb-4">
                                    <input type="email" id="inputEmail" name="email" class="form-control border" required />
                                    <label class="form-label" for="inputEmail">Adresse e-mail</label>
                                </div>
                                <div class="text-center pt-1 mb-5 pb-1">
                                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">
                                        Envoyer
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
