{% extends 'base.guest.html.twig' %}

{% block title %}
    {{ isPasswordInitialization ? 'Initialisation du mot de passe' : 'Réinitialisation du mot de passe' }}
{% endblock %}

{% block body %}
    <section class="h-100 gradient-form" style="background-color: #eee; min-height: 100vh;">
        <div class="container-fluid py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-6 col-sm-12">
                    <div class="card rounded-3 text-black">
                        <div class="card-body p-md-5 mx-md-4">
                            <div class="text-center">
                                <h4 class="mt-1 mb-5 pb-1">
                                    {{ isPasswordInitialization ? 'Initialisation de votre mot de passe' : 'Réinitialisation de votre mot de passe' }}
                                </h4>
                                <p>
                                    {{ isPasswordInitialization ?
                                    'Veuillez définir un mot de passe pour sécuriser votre compte.' :
                                    'Veuillez réinitialiser votre mot de passe.' }}
                                </p>
                            </div>
                            <form method="post">
                                <div class="form-outline mb-4">
                                    <input type="password" id="inputPassword" name="password" class="form-control border" required />
                                    <label class="form-label" for="inputPassword">Nouveau mot de passe</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="password" id="inputConfirmPassword" name="confirm_password" class="form-control border" required />
                                    <label class="form-label" for="inputConfirmPassword">Confirmez le mot de passe</label>
                                </div>
                                <div class="text-center pt-1 mb-5 pb-1">
                                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">
                                        {{ isPasswordInitialization ? 'Définir le mot de passe' : 'Réinitialiser le mot de passe' }}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}