{% extends 'base.html.twig' %}

{% block title %}Modification de la classe{% endblock %}

{% block body %}
    <div id="app">
        <edit-study-class
                :study-class="{{ studyClass|serialize('json', {'groups': 'read_study_class'}) }}"
                :all-teachers="{{ allTeachers|serialize('json', {'groups': 'read_study_class'}) }}"
                :user-current="{{ userCurrent|serialize('json', {'groups': 'read_study_class'}) }}">
        </edit-study-class>
    </div>
{% endblock %}
