{% extends 'base.html.twig' %}

{% block title %}Liste des Classes d'Étude{% endblock %}

{% block body %}
    <div id="app">
        <study-class-list
        ></study-class-list>
    </div>
{% endblock %}
