{% extends 'base.html.twig' %}

{% block title %}Création d'une nouvelle classe{% endblock %}

{% block body %}
    <div id="app">
        <new-study-class
                :all-teachers="{{ allTeachers|serialize('json', {'groups': 'read_study_class'}) }}"
                :rooms="{{ rooms|serialize('json', {'groups': 'read_room'}) }}"
                :user-current="{{ userCurrent|serialize('json', {'groups': 'read_study_class'}) }}">
        </new-study-class>
    </div>
{% endblock %}
