{% extends 'base.html.twig' %}

{% block title %}Study Class Details{% endblock %}

{% block body %}
    <div id="app">
        <planning-study-class
        ></planning-study-class>
    </div>
{% endblock %}
