{% extends 'base.html.twig' %}

{% block title %}Détail de la session{% endblock %}

{% block body %}
    <div id="app">
        <study-class
                :study-class="{{ studyClass|serialize('json', {'groups': 'read_study_class'}) }}"
                :students-in-study-class="{{ studentsInStudyClass|serialize('json', {'groups': 'read_student_class_registered'}) }}"
                :students-not-in-study-class="{{ studentsNotInStudyClass|serialize('json', {'groups': 'read_student_class_registered'}) }}"
        ></study-class>
    </div>
{% endblock %}
