version: '3.8'

services:
  app:
    user: "${UID}:${GID}"
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: schollccib_app
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    networks:
      - schollccib_network
    depends_on:
      - database
    environment:
      DATABASE_URL: mysql://root:issam@database:3306/schollccib
      XDEBUG_MODE: "off"
    ports:
      - "9081:9000"

  web:
    build:
      context: docker/web
      dockerfile: Dockerfile
    container_name: schollccib_nginx
    ports:
      - "8081:80"
    volumes:
      - .:/var/www/html
      - ./docker/web/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - schollccib_network
    depends_on:
      - app

  database:
    build:
      context: .
      dockerfile: docker/mysql/Dockerfile
    container_name: schollccib_db
    environment:
      MYSQL_ROOT_PASSWORD: issam
      MYSQL_DATABASE: schollccib
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - schollccib_network
    ports:
      - "3308:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: schollccib_phpmyadmin
    environment:
      PMA_HOST: database
      MYSQL_ROOT_PASSWORD: issam
    ports:
      - "8082:80"
    depends_on:
      - database
    networks:
      - schollccib_network

volumes:
  db_data:

networks:
  schollccib_network:
