{# templates/new_page.html.twig #}
{% extends 'base.guest.html.twig' %}
{% block title %}Inscription – Soutien scolaire{% endblock %}

{% block body %}
    <div id="app" class="container-fluid px-0">
        <registration-page-academic-support></registration-page-academic-support>
    </div>
{% endblock %}
