{# templates/new_page.html.twig #}
{% extends 'base.guest.html.twig' %}

{% block title %}New Page{% endblock %}

{% block body %}
      <div id="app" >
        <registration-page-academic-support></registration-page-academic-support> <!-- Utilisez le nouveau composant de page Vue -->
    </div>
{% endblock %}
