{% extends 'base.html.twig' %}

{% block title %}Créer une Nouvelle Session{% endblock %}

{% block body %}
    <div id="app">
        <!-- Votre composant Vue compilé par Webpack -->
        <new-session></new-session>
    </div>
{% endblock %}
