{% extends 'base.html.twig' %}

{% block title %}Session Details{% endblock %}

{% block body %}
    <div id="app">
        <session-show
                :session="{{ session|serialize('json', {'groups': 'read_session'}) }}"
                :students-session="{{ studentsSession|serialize('json', {'groups': 'student_session_read'}) }}"
                :current-user="{{ currentUser | serialize('json', {'groups': 'read_user'}) }}"
        ></session-show>
    </div>
    <br><br><br><br><br><br>

{% endblock %}
