body {
    background-color: white;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    display: flex;
    flex: 1;
}
.sidebar {
    width: 250px;
    background-color: #fbfbfb;
    padding: 15px;
    position: fixed;
    top: 0; /* Start from top */
    bottom: 0;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Shadow on the right */
}
.main-content {
    margin-left: 250px; /* Adjust based on sidebar width */
    margin-top: 50px; /* Adjust this value based on the navbar height */
    padding: 20px;
    width: calc(100% - 250px); /* Adjust based on sidebar width */
}
.navbar-custom {
    height: 50px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e3e6f0;
    position: fixed;
    width: calc(100% - 250px); /* Adjust based on sidebar width */
    margin-left: 250px; /* Adjust based on sidebar width */
    z-index: 1000;
}
.sidebar-header img {
    width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
}
.sidebar-menu ul {
    list-style: none;
    padding: 0;
}
.sidebar-menu ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.sidebar-menu ul li img,
.sidebar-menu ul li i {
    margin-right: 10px;
}
.sidebar-menu ul li a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
}
.sidebar-footer {
    margin-top: 20px;
}
.sidebar-footer .progress {
    height: 10px;
    margin-bottom: 10px;
}
footer {
    background-color: rgba(0, 0, 0, 0.05);
}
.footer-custom {
    max-height: 100px;
    padding: 10px 0;
}
.footer-custom .container {
    padding: 0 15px;
}
.footer-custom .btn-floating {
    margin: 0 5px;
    padding: 5px;
    font-size: 0.75rem;
}
.footer-custom .p-1 {
    padding: 5px !important;
}
.mb-5 {
    margin-bottom: 3rem !important;
}
.navbar-custom {
    height: 50px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e3e6f0;
    position: fixed;
    width: calc(100% - 250px); /* Adjust based on sidebar width */
    margin-left: 250px; /* Adjust based on sidebar width */
    z-index: 1000;
}
.navbar-custom .input-group {
    margin-left: auto;
}
.navbar-custom .dropdown {
    margin-left: 15px;
}