<!-- footer.html.twig -->
<footer class="text-center footer-custom">
    <!-- Grid container -->
    <div class="container">
        <!-- Section: Social media -->
        <section class="">
            <!-- Facebook -->
            <a data-mdb-ripple-init class="btn btn-link btn-floating btn-sm text-body m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>
            <!-- Twitter -->
            <a data-mdb-ripple-init class="btn btn-link btn-floating btn-sm text-body m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>
            <!-- Google -->
            <a data-mdb-ripple-init class="btn btn-link btn-floating btn-sm text-body m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fab fa-google"></i></a>
            <!-- Instagram -->
            <a data-mdb-ripple-init class="btn btn-link btn-floating btn-sm text-body m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>
            <!-- Linkedin -->
            <a data-mdb-ripple-init class="btn btn-link btn-floating btn-sm text-body m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a>
            <!-- Github -->
            <a data-mdb-ripple-init class="btn btn-link btn-floating btn-sm text-body m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-1">
        © 2024 Copyright:
        <a class="text-body" href="https://issam-lammri.com/">Issam LAMMRI</a>
    </div>
    <!-- Copyright -->
</footer>
