{# templates/new_page.html.twig #}
{% extends 'base.guest.html.twig' %}

{% block title %}New Page{% endblock %}

{% block body %}
      <div id="app" >
        <registration-page-arabic-course></registration-page-arabic-course>
    </div>
{% endblock %}
